<!-- Footer -->
<footer class="footer w3-display-container w3-light-grey">
  <div class="w3-display-left">
    <a href="https://ko-fi.com/lukehod" title="Buy me a cup of coffee!"><i class="fas fa-coffee w3-xlarge"></i></a>
    &nbsp;
    <a href="https://github.com/lukehod" title="Visit my GitHub!"><i class="fab fa-github w3-xlarge"></i></a>
  </div>
  <div class="w3-display-middle">
  </div>
  <div class="w3-display-right">
    © <span id="year"></span> <a href="contact">Luke Hodnett</a>

  </div>
  <!-- {% include svg-icons.html %} -->
</footer>
<!-- end footer -->
