---
layout: page
---

<article class="w3-card-4 w3-margin w3-white">
  <header class="w3-container post-header">
    <h1 class="post-title w3-left-align">{{ page.title }}</h1>
    <div class="w3-contatiner w3-left-align author">
      {% if page.author %}written by: <a href="https://lukehod.net/about">{{ page.author }}</a> {% endif %}
    </div>
    <img src="{{ site.baseurl }}{{ site.post_image_dir }}{{ page.image | default: "default.jpg" }}" style="width:100%" class="w3-image w3-grayscale-min">
  </header>

  <div class="entry w3-container w3-left-align">
    {{ content }}
  </div>

  <div class="w3-container date w3-right-align">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <br>

  <div class="w3-container">
    {% include disqus.html %}
  </div>
</article>
